
/* ========== ========== RESPONSIVE SIZE ========== ========== */

@media screen and (max-width: 700px) {
    .inner-container {
        flex-direction: column;
        min-height: 100vh;
    }

    .menu {
        width: 70%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        
        top: 0;
        right: -100%; /*Clicks the open-menu*/
        z-index: 10;

        background: var(--color1);
        /*box-shadow: 0 3px 6px blue;*/
        transition: right 0.25s ease-in-out;
    }

    .menu li {
        /*Spaces between boxes*/
        margin-top: 50px;
    }
    .menu li a {
        /*Align text boxes in the middle*/
        padding: 10px; 
        color: var(--color2);
    }
    .open-menu {
        /*Shows hidden hamburger icon*/
        display: block;
    }

    #check:checked ~.menu {
        /*Aligns menu list*/
        right: 0;
    }
    #check:checked ~ .open-menu {
        /*Changes color when hamburger is activated*/
        color: var(--color2);
    }

    section {
        display: flex;
    }

    /*
    .aside-submenu {
        width: 100%;
        display: grid;
        flex-direction: column;
        align-items: center;
    } */
    
    .aside-submenu {
        grid-template-columns: 1fr; /* Change to single column layout */
    }
    /* Stagger the elements */
    .aside-submenu span:nth-child(2) {
        grid-row: 2; /* Move second element to the second row */
    }
    .aside-submenu span:nth-child(3) {
        grid-row: 3; /* Move third element to the third row */
    }

}