* {
    padding: 0;
    margin: 0;
    box-sizing: boder-box;
    text-decoration: none;
    list-style: none;

    --color1: #000;
    --color2: #FFF;
}

body {
    background-color: #eee;
}

.container {
    width: 100%;
    min-height: 20vh; 
    overflow-x: hidden;
    position: relative;
}

section {
    display: flex;
    align-items: center;
}

img {
    width: 60%; /* Adjust image size */
    height: auto;
    padding-left: 3rem;
}

p {
    margin-right: auto; /* Push text to the right */
    text-align: left; /* Align text inside <p> to the right */
    width: 50%; /* Optional: Set text width */
    font-size: larger;
}

.navbar {
    width: 100%;
    display: flex;
    /*position: relative;*/
    position: fixed;
    justify-content: space-between; /*Menu starts from right side*/
    align-items: center;
    list-style: none;
}

.logo {
    padding: 50px 70px;
    font-family: "Times New Roman", Times, serif;
    color: #000;
    font-weight: bold;
    font-size: 30px;
}

.menu {
    margin-left: 50px; /*Aligns the open-menu box at right*/
    display: flex;
    position: relative; 
    align-items: center;
    font-size: larger;
}
.menu li a {
    padding-right: 70px;
    /*display: inline-block;*/
    position: relative;
    text-align: center;
}

li a {
    transition: 0.5s ease-in-out;
    color: var(--color1);
}
li a:hover {
    opacity: 0.4;
}

.open-menu {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    z-index: 100;
    display: none; /*Hides hamburguer icon*/
}
.open-menu i {
    font-size: 2rem;
    /*color: var(--color2);*/ /*REVIEW HERE*/
}

.checkbox {
    display: flex;
    justify-content: space-between;
    color: #fff;
    cursor: pointer;
}

#check { 
    display: none;
}